.Logo {
    max-width: 210px;
    position: absolute;
    left: 43%;
    top: 20px;
  }
  @media (max-width: 800px) {
    .Logo {
      max-width: 105px;
      position: absolute;
      left: 37%;
      top: 10px;
    }
  }
  
  .Header {
    width: 100%;
    height: 94px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
  
    background: var(--black);
    border-bottom: 2px solid rgb(0, 83, 0);
  }
  body {
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
  }
  @media (max-width: 800px) {
    .Header {
      height: 40px;
      justify-content: center;
    }
    body {
      --bodyPaddingTop: 40px;
      padding-top: var(--bodyPaddingTop);
    }
  }